@using personal_blog.Models
@model List<Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mb-3">
    <h3 class="col text-center">Categories</h3>
</div>
<div class="row mb-3">
    <div class="col d-flex justify-content-between">
        <a href="/Admin/NewCategory" class="px-2 py-1 text-info rounded-circle" style="background-color: #e9e9e9;" title="New Category"><i class="fa fa-plus"></i></a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="text-center" style="border-bottom: 2px solid gray;">
            <tr>
                <th class="font-weight-bold text-center">Name</th>
                <th class="font-weight-bold text-center">Operations</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var x in Model)
            {
                <tr>
                    <td class="text-center">@x.Name</td>
                    <td class="text-center">
                        <ul class="p-0 m-0">
                            <li class="d-inline px-2"><a href="/Admin/PostsByCategory/@x.ID" title="Posts" class="text-warning"><i class="fa fa-file" style="font-size: 22px;"></i></a></li>
                            <li class="d-inline px-2"><a href="/Admin/EditCategory/@x.ID" title="Edit" class="text-success"><i class="fa fa-edit" style="font-size: 22px;"></i></a></li>
                            <li class="d-inline px-2">@Html.ActionLink(" ", "DeleteCategory", new { id = x.ID }, new { @class = "text-danger fa fa-trash", @title = "Delete", @style = "font-size: 22px;", onclick = "return confirm('Are You Sure You Want To Delete It?')" })</li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>